*

!.gitignore
!.xinitrc
!.bashrc
!.bash_profile
!.zshrc
!.profile

!Pictures/
!Pictures/wallpaper.png

!git/
!git/suckless/
!git/suckless/dwm
!git/suckless/dwmblocks
!git/suckless/slock
!git/suckless/st

!.config/
!.config/starship/
!.config/starship/**
!.config/sxhkd/
!.config/sxhkd/**
!.config/neofetch/
!.config/neofetch/**
!.config/gtk-*.0/
!.config/gtk-*.0/**